repl-history
*.jar
*.elc
.recentf
elpa/
backups/
cider-history
emacs.d/history
projectile-bookmarks*
auto-save-list/
gitconfig
*~
*#
emacs/history
emacs/transient/
emacs/ac-comphist.dat
.netrwhist
.DS_Store
emacs/custom.el
emacs/.lsp*
.cache
emacs/recentf
.luarc.json
*lazy-lock.json
*/.vagrant
